{% extends "base.html" %}

{% block content %}
<h1>Posts</h1>

<table class="table">
    <tr>
        <th>Post List for {{ date }}</th>
    </tr>

    {% for post in posts %}
    <tr>
        <td>
            {{
                post['post']
            }}
 
            {{
                post['feeling']
            }}
        </td>
    </tr>
    {% endfor %}

</table>

<h2>Add Post</h2>

{% with messages = get_flashed_messages(category_filter=["create_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}


<form class='form-inline' method='post' action="{{url_for('.create_post')}}">
    <input class='form-control' type='text' name='new_post' placeholder='Add Post'/>
    <select name='feeling' id='feeling'>
        <option value="~ feeling happy.">happy</option>
        <option value="~ feeling sad.">sad</option>
        <option value="~ feeling afraid.">afraid</option>
        <option value="~ feeling love.">in love</option>
        <option value="~ feeling under the weather.">sick</option>
    </select>
<input class='btn btn-primary' type='submit' />
</form>

{% endblock %}