{% extends "base.html" %}

{% block content %}

{% block title %}
<h1>Shopping List</h1>
{% endblock %}

{% block inventory %}
<form class='form-inline' method='post' action="{{url_for('.item_list')}}">
<table class="table">
    <tr>
        <h2>Inventory</h2>
    </tr>
    <tr>
        <th>Items</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>

    {% for item in items %}
    <tr>
        <td>
                {{
                item['post']
                }}
        </td>
        <td>

                {{
                item['price']
                }}
                
         <td/>
         <td>       
                
                <div class='form-group'>
                <input class='form-control' value='0' type='text' name='quantity' placeholder='0'/>       
                </div>
                
        </td>
    </tr>
    {% endfor %}

</table> 


                
                <input class='btn btn-primary' type='submit' name='add_item' id='add_item' value='Add to Cart' />
</form>                
{% endblock %}

{% block cart %}
<table class="table">
    <tr>
        <h2>Cart</h2>
    </tr>

    {% for cart in carts %}
    <tr>
        <td>
                {{
                cart['post']
                }}


                {{
                cart['price']
                }}               
               
        </td>
    </tr>
    {% endfor %}

</table>

                <form>
                <div class='form-group'>
                <input class='btn btn-primary' type='submit' name='purchase' id='purchase' value='Purchase' />
                </div>
                </form>

{% endblock %}


{% block add_item %}

<h2>Add Item</h2>

{% with messages = get_flashed_messages(category_filter=["create_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}


<form class='form-inline' method='post' action="{{url_for('.add_item')}}">
    <input class='form-control' type='text' name='add_item' placeholder='Add Item'/>
    <input class='form-control' type='text' name='price' placeholder='Price'/>
    <button class='btn btn-primary' type='submit'/>Add Item</button>
</form>

{% endblock %}
{% endblock %}