{% extends "base.html" %}

{% block pagetitle %} Shopping List {% endblock %}

{% block content %}

    <div id='example'></div>
    
{% endblock %}

{% block jsimports %}

    <script type="text/jsx" src="{{url_for('static', filename='js/samples/8.js')}}"></script>
    <script type="text/jsx">
        React.render(
            <PostBox url='/getsampledata' pollInterval={2000}/>,
            document.getElementById('example')
        );

        React.render(
            <PostCart url='/getsampledata' pollInterval={2000}/>,
            document.getElementById('example')
        );
    </script>

{% endblock %}