<html>
    <head>
        <title>{% block pagetitle %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/global.css')}}"/>

        {% block cssimports %}
        {% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Shopping List</a>
                </div>
            </div>
        </nav>
        <div class='container'>
            <table style="width:70%;margin-top:30px;">
                <tr>
                    <td style="width:50%;">
                        <ul>
                                       
                        </ul>
                    </td>
                    <td style="width:50%;">
                        {% block content %}
                        {% endblock %}
                    </td>
                </tr>
            </table>
        </div>

        <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.0/react.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.0/JSXTransformer.js"></script>
    
        

        {% block jsimports %}
        {% endblock %}
    </body>
</html>